:root{
    --sage: #abb597;
}
* {
    font-family: 'Open Sans';
}

body{
    background-color: #ecd3cf;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    body{
         background-color: #ffffff;
    }
}

#main-title{
    color: color(display-p3 0.529412 0.596078 0.415686 / 1.000000);
}

#date{
    color: color-mix(in display-p3, #cf8d8d, #a78fa8);
}

.underline{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color:#abb597;
    text-decoration-thickness: 3px;
}

/** Notes Section **/

a{
    color: #b98b91
}

h2, h3{
    color: #c58e8e
}

ul li{
    list-style-type: square;
}

li ~ li{
    color: #64826b
}

p + b{
    color: rgb(204, 150, 179)
}

strong.special{
    color: rgb(163, 150, 204)
}

.notes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    gap: 20px;
    height:400;
    position: relative;
}

.notes > div{
    background-color:#dfbfbf; 
    padding: 10px;
    border-radius:5px;
}

summary:hover{
    color: hsl(80, 16.85%, 65.1%);
}

details{
    position: absolute;
}

details:active{
    color: plum;
}

/** Diagrams Section **/

.diagram{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.diagram-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

/** Recording Section **/

.recording-container{
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    margin: 10px 10px 10px 10px ;
}

div:has(audio){
    background-color:#dfbfbf; 
    padding: 10px;
    border-radius:5px;
}

video{
    display: inline;
    height: auto;
    width: 30%;
    max-width: 40%;
    min-width: 20%;
    padding: 1mm;
}

audio{
    display: inline-block;
    padding: 0 0 10mm 0;
}

.form{
    display: flex;
    border-style: solid;
    border-color: rgb(224, 169, 177);
    border-width:0.1cm;
    border-radius:10px;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align:left;
}

a[href="#this-meeting"]{
    color:rgb(136, 153, 135)
}

form {
    &:hover{
        color:rgb(136, 153, 135)
    }
}